<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
    </ul>
    <span class="navbar-text">
        <a href="/user" class="btn btn-outline-light" role="button" aria-pressed="true">+</a>
    </span>
  </div>
</nav>
<div>
  <input
    type="text"
    class="form-control"
    name="filter"
    placeholder="Filtro"
    (keyup)="setFilterBy($event)"
  />
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of usersList | filter: filterBy"> <a [routerLink]="['/user',item.id]"> {{ item.name}} </a></li>
  </ul>
</div>
